@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Roboto:ital,wght@1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

h1, h2 {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-weight: 550;

}

h1 {
    margin: 20px 0;
    font-size: 2.3rem;
    font-style: italic;
}

h2 {
    margin-bottom: 5px;
}

.inputs {
    display: flex;
    flex-flow: column wrap;
    align-items: center;


}

.inputs input, .inputs textarea {
    border: none/*1px solid rgb(85, 85, 85)*/;
    border-radius: 5px;
    padding: 10px;

    box-shadow: 1px 1px 5px gray;

}

.inputs .key {
    margin: 15px;
    display: flex;
    text-align: center;
    align-items: center;
}

.inputs .key input {
    padding: 10px;

}

.inputs .key label {
    margin-right: 10px;
}
